/* with css reset */
* { box-sizing: border-box; }
table { margin: 10px; }
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 80px;
	width: 80px;
	text-align: center;
    word-wrap: break-word;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
td.inner {
	background-color: aqua;
}
td.center {
	background-color: aqua;
	font-weight: bold;
}